
@import "../utilities/variables";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html{
    scroll-behavior: smooth;//for smooth scrolling
    scrollbar-width: thin;
    scrollbar-color: $gold $dark-bg;
    &::-webkit-scrollbar{
        width: 8px;
    }
    &::-webkit-scrollbar-thumb{
        background-color: $gold;
        border-radius: 6px;
    }
    &::-webkit-scrollbar-track{
        background-color: $dark-bg;
    }
}



ul{
    text-decoration: none;
}
li{
    text-decoration: none;
    list-style-type: none;
}
a{
    text-decoration: none;
    color: $light-color
    
}